body {
    margin: 10px;
}

header {
    background-color: black;
    grid-area: h;
}

footer {
    background-color: black;
    grid-area: f;
}

/* MOBILE */
@media screen and (min-width:0px) and (max-width:767px) {
    #Huvudsidan {
        background-color: white;
        display: grid;
        height: 100vh;
        width: 100vh;
        grid-auto-columns:repeat(1, 100vh);
        grid-template-rows:repeat(7, 10vh);
        row-gap: 2px;
        column-gap: 2px;
        grid-template-areas:
        'h'
        'm'
        'm'
        's1'
        's2'
        's3'
        'f'
        ;
    }
}

/* DESKTOP */
@media screen and (min-width:768px) and (max-width:2048px) {
    #Huvudsidan {
        background-color: white;
        display: grid;
        height: 100vh;
        width: 100vh;
        grid-auto-columns:repeat(4, 25vh);
        grid-template-rows:repeat(8, 12vh);
        row-gap: 2px;
        column-gap: 2px;
        grid-template-areas:
        'h h h h'
        'm m m s1'
        'm m m s1'
        'm m m s1'
        'm m m s1'
        's2 s2 s3 s3'
        's2 s2 s3 s3'
        'f f f f'
        ;
    }
}

#Huvudsidan main {
    background-color: black;
    grid-area: m;
}

#Huvudsidan #s1 {
    background-color: black;
    grid-area: s1;
}

#Huvudsidan #s2 {
    background-color: black;
    grid-area: s2;
}

#Huvudsidan #s3 {
    background-color: black;
    grid-area: s3;
}